<script lang="ts" setup>
import { ref } from "vue";
const EmoteImage = ref("feeling_imgs/smile.png");
const Emote = ref("Smile");

function onClickSmiled() {
  Emote.value = "Smile";
  EmoteImage.value = "feeling_imgs/smile.png";
}
function onClickCute() {
  Emote.value = "Cute";
  EmoteImage.value = "feeling_imgs/cute.png";
}
function onClickAngry() {
  Emote.value = "Angry";
  EmoteImage.value = "feeling_imgs/angry.png";
}
function onClickShocked() {
  Emote.value = "Shock";
  EmoteImage.value = "feeling_imgs/shocked.png";
}
function onClickExcited() {
  Emote.value = "Excited";
  EmoteImage.value = "feeling_imgs/excited.png";
}
function onClickPain() {
  Emote.value = "Pain";
  EmoteImage.value = "feeling_imgs/pain.png";
}
</script>
<template>
  <v-container>
    <v-row class="ma-16">
      <v-col cols="6">
        <v-img :src="EmoteImage" width="70%" cover></v-img>
      </v-col>
      <v-col cols="6">
        <div class="center">
          <h1>{{ Emote }}</h1>
        </div>
        <v-btn block @click="onClickAngry" height="60px" class="ma-4">
          <h2>ANGRY</h2>
        </v-btn>
        <v-btn block @click="onClickCute" height="60px" class="ma-4">
          <h2>CUTE</h2>
        </v-btn>
        <v-btn block @click="onClickExcited" height="60px" class="ma-4">
          <h2>Excited</h2>
        </v-btn>
        <v-btn block @click="onClickPain" height="60px" class="ma-4">
          <h2>Pain</h2>
        </v-btn>
        <v-btn block @click="onClickShocked" height="60px" class="ma-4">
          <h2>Shocked</h2>
        </v-btn>
        <v-btn block @click="onClickSmiled" height="60px" class="ma-4">
          <h2>SMILE</h2>
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.center {
  margin: 20px;
  text-align: center;
}
button:focus {
  background: yellow;
}
</style>  