<script setup lang="ts">
import { ref } from "vue";
const number1 = ref(0);
const number2 = ref(0);
function onClickPlus() {
  number1.value = number1.value + 1;
  number2.value = number1.value * 2;
}
function onClickMinus() {
  number1.value = number1.value - 1;
  number2.value = number1.value * 2;
}
</script>
<template>
  <div>First Component</div>
  <div>{{ number1 }}</div>
  <div><v-btn @click="onClickPlus">Increment</v-btn></div>
  <div>Second Component</div>
  <div>{{ number2 }}</div>
  <div><v-btn @click="onClickMinus">Decrease</v-btn></div>
</template>
